<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie recommender</title>
  </head>
  <body>
    <h1>Welcome to Movie Recommender</h1>
    <p>Please enter as many adorable movie titles as you like</p>
    <form class="" action="/select", method="get">
      <p>Movie 1</p>
      <p><input type="text" name="movie1" value=""></p>
      <p>Movie 2</p>
      <p><input type="text" name="movie2" value=""></p>
      <p>Movie 3</p>
      <p><input type="text" name="movie3" value=""></p>
      <p>Movie 4</p>
      <p><input type="text" name="movie4" value=""></p>
      <p>Movie 5</p>
      <p><input type="text" name="movie5" value=""></p>

      <p><input type="submit" value="Search movies"></p>
    </form>
  </body>
</html>
