{% extends "layout.html" %}
{% block content %}

      <p>To get recommenadations please enter titles of movies that you like:</p>
      <p><form class="" action="/select", method="get">
        <p>Movie 1</p>
        <p><input type="text" name="movie1" value=""></p>
        <p>Movie 2</p>
        <p><input type="text" name="movie2" value=""></p>
        <p>Movie 3</p>
        <p><input type="text" name="movie3" value=""></p>
        <p>Movie 4</p>
        <p><input type="text" name="movie4" value=""></p>
        <p>Movie 5</p>
        <p><input type="text" name="movie5" value=""></p>

        <p><input type="submit" value="Search movies"></p>
      </form></p>

{% endblock content %}
